doctype html
html
  head
    title= title
    block styles

  body
    block content

    script(data-main="/javascripts/todos.js", src="/javascripts/vendor/requirejs/require.js")
    block bodyscripts
