doctype html
html
  head
    title= title
    block styles

  body
    block content

    script(type="text/javascript", src="/javascripts/vendor/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/javascripts/vendor/underscore/underscore.js")
    script(type="text/javascript", src="/javascripts/vendor/backbone/backbone.js")
    block bodyscripts
